<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./statics/css/style.css">
    <title>Lire plus</title>
</head>
<body id="corp">
    <header class='header'>
          <h3><a href="#">Lire<span style="color:#152857;">Plus</span></a></h3>
        <nav>
            <ul class="menu">
                
                <li><a href="#main">News Books</a></li>
                <li class="cc"><b>Catégories&rsaquo;</b>
                    <ul class="cat">
                        <div class="cat1">
                            <li><a href="#">Art musique et cinéma</a></li>
                            <li><a href="#">Développement personnel</a></li>
                            <li><a href="#">Informatique et internet</a></li>
                        </div>

                        <div class="cat2">
                            <li><a href="#">Réligion et spiritualité</a></li>
                            <li><a href="#">Roman</a></li>
                            <li><a href="#">Droit et économie</a></li>
                        </div>
                        
                        <div class="cat3">
                            <li><a href="#">Cuisine</a></li>
                            <li><a href="#">Science et médécine</a></li>
                            <li><a href="#">Bandes déssinées</a></li>
                        </div>
                        
                        <div class="cat4">
                            <li><a href="#">Dictionnaire et langue</a></li>
                            <li><a href="#">Tourisme et voyage</a></li>
                        </div>
                    </ul>

                    <ul>
                       
                    </ul>

                    <ul>
                       
                    </ul>

                    <ul>
                        
                    </ul>
                </li>
                <li><a href="#footer">A propos</a></li>
                
            </ul>
        </nav>
        <div>
          <span>&lsaquo;</span><img class="userphoto" src="./statics/images/pexels-gabb-tapique-3155588 (2).jpg" alt="" height="40" width="40">
           <ul>
               <li><a href="#">Enregistrés</a></li>
               <li><a href="#">Mon compte</a></li>
               <button class="btn"><a  class="logout" href="#">Se déconnecter</a></button>
           </ul>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="65" viewBox="0 0 80 65" class="ouvrir">
            <g id="Groupe_1" data-name="Groupe 1" transform="translate(-941 -276)">
              <rect id="Rectangle_2" data-name="Rectangle 2" width="80" height="14" rx="5" transform="translate(941 276)" fill="#252525"/>
              <rect id="Rectangle_3" data-name="Rectangle 3" width="80" height="14" rx="5" transform="translate(941 300)" fill="#252525"/>
              <rect id="Rectangle_4" data-name="Rectangle 4" width="80" height="14" rx="5" transform="translate(941 324)" fill="#252525"/>
            </g>
          </svg>  
    </header>
    <div class="menu2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="65" viewBox="0 0 68.589 68.589" class="fermer">
            <g id="Groupe_2" data-name="Groupe 2" transform="translate(-1085.705 -319.205)">
              <rect id="Rectangle_5" data-name="Rectangle 5" width="80" height="14" rx="5" transform="translate(1097.726 319.205) rotate(45)" fill="#252525"/>
              <rect id="Rectangle_6" data-name="Rectangle 6" width="80" height="14" rx="5" transform="translate(1154.295 331.226) rotate(135)" fill="##252525"/>
            </g>
          </svg>
        
          <div class="sousmenu">
            <nav>
                <ul class="menu">
                    
                    <li><a href="#main">Nouveaux livres</a></li>
                    <li><a href="#">Catégories</a></li>
                    <li><a href="#footer">A propos</a></li>
                    <li><a href="#" class="btn" style="color: white;">S'inscrire</a></li>
                    <li><a href="#" class="btn" style="color: white;">Se connecter</a></li>
                </ul>
            </nav>
          </div>
        
          
    </div>
    <div class="container">
        
        <div class="search">
            <form action="." method="get" class="form"> 
                <input type="search" name="search" required class="enter" placeholder="Auteur, titre, catégorie ..." autocomplete="off">
                <input type="submit" value="Recherche" class="valid">
            </form>
            
        </div>
        <main id="main">
            <div class="add">
                <h2>Ajouter récemment</h2>
            </div>
            <div class="grid">
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/1.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/2.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/3.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/4.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/5.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/6.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/7.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/8.jpg" alt="" >
                    </div>
                    <div class="voir">
                        <div class="button im"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/9.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>

                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/1.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/2.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/3.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/4.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/5.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/6.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/7.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/8.jpg" alt="" >
                    </div>
                    <div class="voir">
                        <div class="button im"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/9.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>

                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/8.jpg" alt="" >
                    </div>
                    <div class="voir">
                        <div class="button im"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/9.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                
            </div>
        </main>
        
    
    </div>

    <section class="pagination">
        <a href="#">
            <div class="previous">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="25" viewBox="0 0 20 40">
                    <path id="Left_Arrow_2" data-name="Left Arrow 2" d="M803.707,3467.707h0L786.377,3486l17.33,18.293h0a1,1,0,1,1-1.414,1.414h0l-18-19h0a1,1,0,0,1,0-1.414l18-19a1,1,0,1,1,1.414,1.414Z" transform="translate(-784 -3466)" fill-rule="evenodd"/>
                </svg>
              
            </div>
        </a>


        <a href="#">
            <div class="next">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="25" viewBox="0 0 20 40">
                    <defs>
                    <clipPath id="clip-path">
                        <rect width="20" height="40" fill="none"/>
                    </clipPath>
                    </defs>
                    <g id="Grille_de_répétition_1" data-name="Grille de répétition 1" clip-path="url(#clip-path)">
                    <g transform="translate(-868 -3466)">
                        <path id="Right_Arrow_2" data-name="Right Arrow 2" d="M887.707,3486.707h0l-18,19h0a1,1,0,1,1-1.414-1.414h0L885.623,3486l-17.33-18.293h0a1,1,0,1,1,1.414-1.414l18,19a1,1,0,0,1,0,1.414Z" fill-rule="evenodd"/>
                    </g>
                    </g>
                </svg>
                
            </div>
        </a>

    </section>


    <!--  <footer class="footer" id="footer">
        <div class="section">
            <div class="part1">
                <div class="sous1">
                    <h2 class="head">Salut!</h2>
                    <p>Je me prénomme Sam</p>
                    <p>Je suis développeur Web</p>
                    <p>I'm <span class="vi">gabonese</span></p>
                    <p>I'm <span class="vi">African</span></p>
                    
                    
                    
                </div>
                <div class="sous2">
                    <h2 class="head">Réseaux sociaux</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" class="socio">
                        <path id="Instagram_Circle" data-name="Instagram Circle" d="M794,2752a22,22,0,1,1,22-22A22,22,0,0,1,794,2752Zm0-42a20,20,0,1,0,20,20A20,20,0,0,0,794,2710Zm6,30H788a4,4,0,0,1-4-4v-12a4,4,0,0,1,4-4h12a4,4,0,0,1,4,4v12A4,4,0,0,1,800,2740Zm-6-14a4,4,0,1,0,4,4A4,4,0,0,0,794,2726Zm7-3h-3v3h3Zm1,6h-2.1a5.89,5.89,0,0,1,.1,1,6,6,0,1,1-11.9-1H786v7a2,2,0,0,0,2,2h12a2,2,0,0,0,2-2Z" transform="translate(-772 -2708)" fill="#fff" fill-rule="evenodd"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                        <path id="Facebook_Circle" data-name="Facebook Circle" d="M878,2668a22,22,0,1,1,22-22A22,22,0,0,1,878,2668Zm0-42a20,20,0,1,0,20,20A20,20,0,0,0,878,2626Zm4.646,20h-2.663v9h-3.988v-9H874v-3.01h1.993v-1.955c0-2.531,1.126-4.037,4.322-4.037h2.662v3.01h-1.663c-1.245,0-1.328.433-1.328,1.242l-.005,1.74H883Z" transform="translate(-856 -2624)" fill="#fff" fill-rule="evenodd"/>
                      </svg>
                      

                </div>
            </div>
            <div class="part1">
                <div class="sous1">
                    <h2 class="head">Services</h3>
                    <p>Web development</p>
                    <p>Web design</p>
                    <p>engine optimisation</p>
                    <p>création de logo</p>
                    
                </div>
                <div class="sous2">
                    <h2 class="head">Contact</h2>
                    <p>+241(0)74570040</p>
                    <p>facebook/samnklcf</p>
                    <p>samyeyebe@gmail.com</p>
                </div>
            </div>
            <div class="part2">
                
                <div class="sous4">
                    <h1 class="vi">NEWS<p>LETTERS</p></h1>
                    <form action="." method="get" class="form"> 
                        <input type="text" name="search" required class="enter" placeholder="Votre email">
                        <input type="submit" value="Recherche" class="valid">
                    </form>
                </div>
            </div>
        </div>
    </footer>-->
    <div class="copyright">
        <p>All right reserved by Sam Nk Lcf @Copyright 2022</p>
    </div>
    <script>
       
        var ouvrir = document.querySelector('.ouvrir');
        var menu = document.querySelector('.menu2');
        var fermer = document.querySelector('.fermer');
        var header = document.querySelector('header')
        
        

        /*window.addEventListener('scroll', (e) =>{
            const scr = window.pageYOffset;
           
            if(scr > 10) {
                header.style.background = 'rgba(255, 255, 255, 0.993)'
            }else{
                header.style.background = 'transparent'
            }
            console.log(scr)

            if(scr >= 2){
                header.style.height = '70px'
            }else{
                header.style.height = '90px'
            }
        
        })*/

        ouvrir.addEventListener('click', function(){
            console.log(menu);
            

            menu.style.left = 0;
           

            
            fermer.style.display = 'block';

        });

        fermer.addEventListener('click', function(){
            menu.style.left = '100%';
            
           
        })
        
        
            
    
       
    </script>
</body>
</html>