<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./statics/css/login.css">
    <title>Se connecter</title>
</head>
<body>
    <header>
        <nav>
            <a href="./home.html"><p><svg xmlns="http://www.w3.org/2000/svg" width="10" height="30" viewBox="0 0 20 40">
                <path id="Left_Arrow_2" data-name="Left Arrow 2" d="M803.707,3467.707h0L786.377,3486l17.33,18.293h0a1,1,0,1,1-1.414,1.414h0l-18-19h0a1,1,0,0,1,0-1.414l18-19a1,1,0,1,1,1.414,1.414Z" transform="translate(-784 -3466)" fill-rule="evenodd"/>
              </svg>
              Retour</p></a>
            <h3>Lire<span>Plus</span></h3>
        </nav>
    </header>

    <main>
        <h1>Se connecter</h1>

        <form action="." method="get">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" required >
            <label for="password">Mot de passe</label>
            <input type="password" id="password" required>
            <button type="submit">Se connecter</button>
            <section><a href="#">Mot de passe oublié?</a><a href="./register.html">Créer un nouveau compte</a></section>

        </form>
    </main>
</body>
</html>