<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <title>Mon exemple</title>

</head>
<body>
    
        <header>
            <img src="./statics/logo/smallLogo.png" alt="" width="100">
            <nav class="navB">
                
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
            </nav>

            <form action=".">
                <input type="search" name="" id="entre" placeholder="Auteurs, catégories, titres...">
                <button type="submit" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.49" viewBox="0 0 17.49 17.49">
                    <path id="Tracé_437" data-name="Tracé 437" d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,0-.7.7l.27.28v.79l5,4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5,4.494,4.494,0,0,1,9.5,14Z" transform="translate(-3 -3)"/>
                  </svg>
                  </button>
            </form>

            <div class="bouton">
                <button class="login">Se connecter</button>
                <button class="sign">Créer un compte</button>
            </div>
        </header>
        <nav class="petit">
            <ul class="sous">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Catégories</a></li>
                <li><a href="#">A propos</a></li>
                
                
            </ul>
        </nav>

        <main id="main">
            <div class="add">
                <h2>Ajouter récemment</h2>
            </div>
            <div class="grid">
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/1.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/2.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/3.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/4.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/5.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/6.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/7.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/8.jpg" alt="" >
                    </div>
                    <div class="voir">
                        <div class="button im"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                <div class="cart">
                    <div class="photo">
                        <img src="./statics/images/9.jpg" alt="">
                    </div>
                    <div class="voir">
                        <div class="button"><a href="#">voir</a></div>
                        
                    </div>
                </div>
                
            </div>
        </main>
        
    </div>

        <script>

            
            
        </script>
</body>
</html>