<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if request.user.is_authenticated %}
   <h1>Voys êtes déjà connecté {{ user.username }}</h1>
   <a href="{% url 'monprofil' %}">Retournez dans votre profil, Merci.</a>
{% else %}
    {% if messages %}
      {% for message in messages %}
         <p style="color: red;">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Creer">
    </form>
{% endif %}

    
</body>
</html>